html, body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 0 20px;
}

.alignCenter {
    text-align: center;
}

.marginBottom {
    margin-bottom: 30px;
}

span.language {
    text-transform: uppercase;
    font-size: 12px;
    background: #00bcd4;
    color: #fff;
    padding: 3px 5px;
    border-radius: 3px;
    margin-right: 10px;
    vertical-align: top;
}